$thread-padding: $annotation-card-left-padding;

.stream-list {
  & > * {
    margin-bottom: .72em;
  }

  & > li.thread > .threadexp {
    display: none;
  }
}

.annotation-unavailable-message {
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-lighter;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
  align-items: center;

  &__label {
    margin-top: 10px;
    max-width: 160px;
    text-align: center;
  }

  &__icon {
    background-image: url(../images/icons/lock.svg);
    background-repeat: no-repeat;
    width: 56px;
    height: 48px;
  }
}

.thread-replies {
  .annotation-action-btn {
    color: $grey-4;
  }

  .thread:first-child {
    margin-top: 0.5em;
  }

  .annotation-footer {
    margin-top: $layout-h-margin - 5px;
  }
}

.thread {
  cursor: pointer;
  position: relative;

  & > ul {
    padding-left: $thread-padding + 3px;
    padding-right: $thread-padding + 3px;
    padding-top: $thread-padding - 9px;
    margin-left: -$thread-padding;
    margin-right: -$thread-padding;
    margin-top: $thread-padding;
  }

  // nested threads for annotation replies
  .thread {
    border-left: 1px dotted $grey-3;
    padding: 0;
    padding-left: $thread-padding;
    margin-top: 10px;

    &:hover {
      & > .threadexp > span {
        color: $grey-7;
      }
    }
  }

  .thread-message:hover {
    & > div >.annotation-footer .annotation-action-btn,
    & > div >.annotation-footer .annotation-replies__link {
     color: $grey-6;
    }

    & > div >.annotation-footer .annotation-replies__link {
     text-decoration: underline;
    }
  }

  .threadexp {
    position: absolute;
    left: -.7em;
    width: 1.4em;
    height: 1.4em;
    font-size: 1.1em;

    span {
      background: $white;
      color: $grey-4;
      display: block;
      line-height: inherit;
      text-align: center;
    }
  }
}

.thread-load-more {
  clear: both;
}
